In [1]:
import pandas as pd

In [234]:
data = pd.read_csv('C:/Python Lectures nd Assignment/Data_worksheets/cast.csv')

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
...,...,...,...,...,...,...
3611207,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3611208,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3611209,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3611210,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3611211,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [4]:
data.head(10)

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN

In [6]:
### How many movies are listed in the titles dataframe?

print(data['title'].nunique())

172294

In [35]:
### What are the earliest two films listed in the titles dataframe?
data1 = data.sort_values(by='year',ascending=True)
d = data1['title'].unique()
print(d[:2])

['Miss Jerry' 'Soldiers of the Cross']

In [42]:
### How many movies have the title "Hamlet"?
len(data[data['title']=='Hamlet'])

313

In [63]:
a=(data['title']=='Hamlet').sum()
a

313

In [65]:
### How many movies are titled "North by Northwest"?
len(data[data['title']=='North by Northwest'])

112

In [74]:
### When was the first movie titled "Hamlet" made?
data1 = data[data['title']=='Hamlet']
print(data1['year'].min())

1910

In [79]:
### List all of the "Treasure Island" movies from earliest to most recent.
data[data['title']=='Treasure Island'].sort_values('year')

,title,year,name,type,character,n
830114,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
840745,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
909157,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
3298306,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
1715014,Treasure Island,1918,Lloyd Perl,actor,Black Dog,4.0
...,...,...,...,...,...,...
2420089,Treasure Island,1999,Caveh Zahedi,actor,Harold,9.0
1637661,Treasure Island,1999,Nick Offerman,actor,Samuel,2.0
1375015,Treasure Island,1999,J.P. Manoux,actor,Officer Hughes,18.0
1797264,Treasure Island,1999,Victor Raider-Wexler,actor,Samowitz,10.0
307749,Treasure Island,1999,Bob Byington,actor,Thomas,12.0

In [82]:
### How many movies were made in the year 1950?
print(len(data[data['year']==1950]))

22006

In [83]:
### How many movies were made in the year 1960?
print(len(data[data['year']==1960]))

18456

In [85]:
### How many movies were made from 1950 through 1959?
print(len(data[(data['year']>=1950)&(data['year'] <1959)]))

192289

In [89]:
### In what years has a movie titled "Batman" been released?
print(data[data['title']=='Batman']['year'].unique())

[1943 1989]

In [96]:
### How many roles were there in the movie "Inception"?
print(data[data['title']=='Inception']['character'].nunique())

55

In [116]:
### How many roles in the movie "Inception" are NOT ranked by an "n" value?
print(data[data['title']=='Inception'][['n']].isnull().sum())

n    26
dtype: int64

In [118]:
### But how many roles in the movie "Inception" did receive an "n" value?
print(data[data['title']=='Inception']['n'].notnull().sum())

51

In [159]:
### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value
print( data[(data['title']=='North by Northwest') & (data["n"].notnull())]['name'])

198496             Edward Binns
343701           Leo G. Carroll
447893          Philip Coolidge
642085        Robert Ellenstein
840374               Cary Grant
1229083           Martin Landau
1334726               Ken Lynch
1404704             James Mason
1454363           Patrick McVey
1634552             Philip Ober
1746383            Edward Platt
2212083            Les Tremayne
2357939           Adam Williams
2923056    Josephine Hutchinson
3024085     Jessie Royce Landis
3361396         Eva Marie Saint
Name: name, dtype: object

In [169]:
### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".
print(data[(data['title']=='Sleuth') & (data['year']==1972)].sort_values('n')['name'])

1644328      Laurence Olivier
314691          Michael Caine
360365         Alec Cawthorne
1412647    John (II) Matthews
2619278    Eve (III) Channing
1396572          Teddy Martin
Name: name, dtype: object

In [171]:
### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".
print(data[(data['title']=='Sleuth') & (data['year']==2007)].sort_values('n')['name'])

314692           Michael Caine
1246855               Jude Law
1741124          Harold Pinter
250297         Kenneth Branagh
360366     Alec (II) Cawthorne
2619277      Eve (II) Channing
3223502      Carmel O'Sullivan
Name: name, dtype: object

In [176]:
### How many roles were credited in the silent 1921 version of Hamlet?
print(data[(data['title']=='Hamlet') & (data['year']==1921)]['character'].count())

9

In [190]:
### How many roles were credited in Branagh’s 1996 Hamlet?
print(data[(data['title']=='Hamlet') & (data['year']==1996) & (data['name']=='Kenneth Branagh')]['character'].count())

1

In [193]:
### How many "Hamlet" roles have been listed in all film credits through history?
print(data[data['character']=='Hamlet']['character'].count())

91

In [197]:
### How many people have played an "Ophelia"?
print(data[data['character']=='Ophelia']['name'].count())

111

In [198]:
### How many people have played a role called "The Dude"?
print(data[data['character']=='The Dude']['name'].count())

18

In [199]:
### How many people have played a role called "The Stranger"?
print(data[data['character']=='The Stranger']['name'].count())

208

In [202]:
### How many roles has Sidney Poitier played throughout his career?
print(data[data['name']=='Sidney Poitier']['character'].count())

43

In [203]:
### How many roles has Judi Dench played?
print(data[data['name']=='Judi Dench']['character'].count())

55

In [210]:
### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.
print(data[(data['name']=='Cary Grant') & (data['year']>=1940) & (data['year']<1949) & (data['n']==2)].sort_values('year')['character'])

840371           Nick
840381    Roger Adams
Name: character, dtype: object

In [226]:
### List the leading roles that Cary Grant played in the 1940s in order by year.
print(data[(data['name']=='Cary Grant') & (data['year']>=1940) & (data['year']<1949) & (data['n']==1)].sort_values('year')['character'])

840397              Matt Howard
840353             Walter Burns
840399       C. K. Dexter Haven
840386                  Johnnie
840401             Leopold Dilg
840377    Patrick 'Pat' O'Toole
840344            Capt. Cassidy
840369                Joe Adams
840370          Joe Bascopolous
840378              Jerry Flynn
840336        Mortimer Brewster
840373               Ernie Mott
840372              Cole Porter
840375                   Devlin
840393              Dick Nugent
840394                   Dudley
840368            Jim Blandings
840348        Dr. Madison Brown
Name: character, dtype: object

In [217]:
### How many roles were available for actors in the 1950s?
print(data[(data['type']=='actor') & (data['year'] >=1950)& (data['year']<=1959)]['character'].count())

154727

In [219]:
### How many roles were available for actresses in the 1950s?
print(data[(data['type']=='actress') & (data['year'] >=1950)& (data['year']<=1959)]['character'].count())

56259

In [222]:
### How many leading roles (n=1) were available from the beginning of film history through 1980?
print(data[(data['n']==1) & (data['year']==1980)]['character'].count())

1143

In [225]:
### How many non-leading roles were available through from the beginning of film history through 1980?
print(data[(data['n']!=1) & (data['year']==1980)]['character'].count())

21648

In [231]:
### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?
print(data[(data['year']==1980) & (data['n'].isnull())]['character'].count())

4227